body {
    background-image: linear-gradient(orchid, yellow);
    background-repeat: repeat;
}

div {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 100vh;
    background-color: green;
}

.ace {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 1;
}

.king {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
}

.queen {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 6;
}

.jack {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 7;
}

.playing_card {
    position: absolute;
    top: 2%;
    left: 10%;
    z-index: 0;
}



